<body>
	<script>
	function getlocation (){
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(storePosition);
		} else{
			document.write("El geolocalizador no es soportado por el navigator");
		} 
	}
	function getposition (position){
		document.write("Latitud:" + position.coords.latitude + "<br>Longitud: " + position.coords.longitude);
}

	function storePosition(position){

		window.open("store?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude,"_self");

	}
	window.setInterval(getlocation,1000);

	</script>

<% while !@location.empty? %>
        <% coordinate = @location.pop %>
        <br><h3> Coordinate <%= coordinate.id %> </h3>
        <ul>
        	<li> <b>UserId:</b> <%= coordinate.user %></li>
        	<li> <b>Latitude:</b> <%= coordinate.y %></li>
        	<li> <b>Longitude:</b> <%= coordinate.x %></li>
        </ul>
	<% end %>

</body>